@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Zen+Antique+Soft&display=swap&family=Source+Sans+Pro:wght@300&family=Calistoga");

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#096B72
}

.Logo {
  font-family: 'Calistoga', cursive;
  color: #096B72;
  font-size: 25px;
}

input {
  border: none;
  background-color: whitesmoke;
  color:#096B72;
  border-radius: 5%;
  font-family: 'Source Sans Pro', sans-serif;
}
a{
  text-decoration:none;
  color:#096B72; 
}

.header {
  display: flex;
  max-width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 20px;
  margin-top: 10px
}
.header-right {
  float: right;
}

.registerBox{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;

}

.registerForm{
  max-width: 250px;

  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  text-decoration: none;
  max-height: 20px;
}

.listContainer{
  display: block;
  position:relative;
  min-width: 380px;
  margin: auto;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none ;
}




.book {
font-family: 'Gentium Book Basic', serif;
background-repeat: no-repeat;
background-size: 100% 100%;
background-image: url("./images/book.jpg") ;
font-size: 10px;
border-style: none;
height: 100px;
width: 80px;
margin: 20px;
padding: 5px;
display: flex;
flex-direction: column;
justify-content: space-between;
color: white;
opacity: 80%;
/* border-radius: 3%;
border-bottom-right-radius: 8% ;
border-top-right-radius: 8% ; */
}
.title{
  font-family: 'Zen Antique Soft', serif;
  font-size: 13px
}
